---
BasedOnStyle: LLVM
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
AlignConsecutiveMacros:
  Enabled: true
IndentCaseLabels: true
IndentWidth: 4
NamespaceIndentation: All
---
